* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background: beige;
}

header {
    position: relative;
    height: 10vh;
    min-height: 70px;
    width: 100%;
    background-color: rgba(165, 42, 42, 0.9);
    z-index: 99;
}

.header-wrapper {
    width: 60%;
    height: 100%;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-around;
}

.logo-container {
    height: 100%;
    width: 8%;
    padding: 0.5em;
}

nav {
    width: 50%;
}

ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 12 / span 2;
    grid-row: 1/2;
}

.shopping-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 10 / span 2;
    grid-row: 1/2;
}

.fa-shopping-cart {
    font-size: 3em;
    color: white;
}

input {
    margin-bottom: 0.5rem;
}

.hero-wrapper {
    position: fixed;
    top: 0;
    z-index: -10;
}

main {
    display: flex;
    align-items: flex-end;
    width: 70%;
    height: 90vh;
    margin: 0 auto 0;
}

.product-main-view {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: gray;
}

.hero-img {
    height: 100%;
    width: 100%;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 50%;
    color: white;
    font-size: 1.6rem;
    margin-bottom: 15rem;
}

.product-option {
    height: 30em;
    width: 28%;
    background: red;
}